.register-background {
  background-color: RGB (255, 253, 250);
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 95%;
  width: 90%;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-holder {
  position: relative;
  height: 95%;
  width: 90%;
  margin-top: -50px;
  height: 100%;
}

.image-holder {
  position: relative;
  height: 95%;
  width: 90%;
}

.image-holder img {
  height: 808px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

p,
h1,
h2,
h3 {
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

